
{% set selected_title = items[selected] %}
<div class="ui dropdown condition-dropdown {{ class|default('basic button') }}"  id="{{ id|default('condition_dropdown') }}">
    <input name="{{ name|default(id) }}" type="hidden" value="{{ selected }}">  
    <div class="text">
        {{ selected_title|default(labels.select) }}     
    </div>
    <i class="dropdown icon"></i>   
    <div class="ui menu">
        {% for key, item in items %}
            {% if key not in skip %}          
                <div class="item" data-value="{{ key }}">                        
                    {{ item }}
                </div>   
            {% endif %} 
        {% endfor %}           
    </div>
</div>