<div class="ui grid">
    <div class="size wide column">
        <div class="ui stackable grid">
            <div class='ten wide column'>
                <button 
                    mountTo="rule_details"
                    component="actions::admin.rules.add"
                    title="{{ tooltip.create }}"
                    class="ui mini curcular green icon button create-rule">
                    <i class="icon plus"></i>
                </button>
            </div>
            <div class="six wide column right aligned">       
                {{ component('semantic~paginator.dropdown',{ class: 'mini', namespace: 'rules' }) }}
            </div>
        </div>
    </div>
    <div class="ten wide column">
        {{ component('action::admin.rules.view',{}) }}
    </div>
</div>
