{% if uuid is not empty %}
    {% set action = createModel('Actions','actions').findById(uuid) %}
{% endif %}
<div class="item" id="row_{{ action.uuid }}">
    <div class="content">                      
        <div class="header">
            <button 
                uuid="{{ action.uuid }}"
                class="ui mini compact button basic icon action-settings" 
                title="{{ labels.settings }}">
                <i class="icon blue cog"></i>
            </button>  
            <button 
                uuid="{{ action.uuid }}"
                class="ui mini compact button basic icon action-details" 
                title="{{ labels.details }}">
                <i class="icon blue info"></i>
            </button>       
            {% if action.allow_http_execution == true %}  
            <button 
                uuid="{{ action.uuid }}"
                class="ui mini compact button basic icon action-docs" 
                title="{{ labels.details }}">
                <i class="icon blue atlas"></i>
            </button>    
            {% endif %}         
            <span>
                {{ action.name }}  
            </span>             
        </div>                          
        <span class="text-gray-600 pl-16"> 
            <i class="icon code"></i>        
            {{ action.handler_class }}
        </span>         
    </div>     
</div>