{% if uuid is not empty %}
    {% set action = createModel('Actions','actions').findById(uuid) %}
{% endif %}
<div class="item" id="row_{{ action.uuid }}">
    <div class="content">                      
        <div class="header">
            <i class="icon blue angle right"></i>          
            <a class="link action-details" uuid="{{ action.uuid }}">
                {{ action.name }}  
            </a>             
        </div>          
        <span class="text-gray-600 pl-16">         
            {{ action.handler_class }}
        </span>         
    </div>     
</div>