{% if uuid is not empty %}
    {% set action = createModel('Actions','actions').findById(uuid) %}
{% endif %}
<div class="item" id="row_{{ action.uuid }}">
    <div class="content">                      
        <div class="header">
            <i class="icon blue angle right"></i>          
            <span class="ui link action-details cursor-pointer" uuid="{{ action.uuid }}">
                {{ action.name }}  
            </span>             
        </div>                  
        <span class="text-gray-600 pl-16"> 
            <i class="icon code"></i>        
            {{ action.handler_class }}
        </span>         
    </div>     
</div>