{% if uuid is not empty %}
    {% set item = createModel('WorkflowItem','actions').findById(uuid) %}
{% endif %}
{% set config = createProperties(item.config) %}

{% if config is iterable %}
    {% if show_title == true %}
    <h4>{{ title }}</h4>
    {% endif %}
    <div class="p-1 m-1">
        <button class="ui basic icon labeled mini button edit-item-config" uuid="{{ item.uuid }}">
            <i class="icon blue edit"></i>
            {{ labels.edit }}
        </button>
    </div>
    <div>
        {{ component('components:properties.view',{ properties: config }) }} 
    </div>          
{% endif %}