{% set items = [ 
    { id: 'actions_button', title: labels.actions, component: 'actions::admin.actions', icon: 'running', active: true },  
    { id: 'workflows_button', title: labels.workflows, component: 'actions::admin.workflows', icon: 'retweet' },     
    { id: 'settings_button', title: labels.settings, component: 'actions::admin.settings', icon: 'cog' }  
] %}

{{  component('semantic~tabs',{ 
        items: items,
        menu: { extension: 'actions' },
        content: { component: 'actions::admin.actions' } 
    })
}}