{{  component('system:admin.tabs',{ 
        items: [    
            { 
                active: true ,           
                title: labels.actions, 
                component: 'actions::admin.actions', 
                svg_icon: 'icons~list'
            },  
            {               
                title: labels.workflows, 
                component: 'actions::admin.workflows', 
                svg_icon: 'icons~code' 
            }        
        ],
        menu: { 
            extension: 'actions' 
        },
        content: { 
            component: 'actions::admin.actions' 
        } 
    })
}}