<div class="ui segment">      
    <div class="flex flex-row items-center">
        <div class="font-bold">           
           {{ labels.workflow }}
        </div>
        <div class="px-2">
            {{ component('actions::admin.workflows.dropdown',{ }) }}
        </div>             
    </div>    
</div>     
<div class="flex flex-row items-start"> 
    <div class="w-full flex-grow pt-2" id="workflow_items" 
        component="actions::admin.workflows.view.items" namespace="workflow">
        {{ component('actions::admin.workflows.view.items',{ workflow_id: workflow.id }) }}      
    </div>     
</div>