{% set size = size|default(15) %}
{% set workflows = createModel('Workflows','actions') %}
{% if selected is not empty %}
    {% set item_selected = workflows.findWorkflow(selected) %}
{% endif %}
{% set items = workflows.get() %}
{% set data_field = data_field|default('uuid') %}

<div class="ui dropdown workflows-dropdown {{ class|default('search selection') }}" 
    {{ title|attr('title') }} 
    data-field="{{ data_field }}"
    id="{{ id|default('workflows_dropdown') }}">    
    <input name="{{ name|default(id) }}" type="hidden" value="{{ item_selected[data_field] }}">  
    <div class="text">
        {{ item_selected.name|default(labels.select) }}
    </div>  
    <i class="icon dropdown"></i> 
    <div class="menu">        
        {% for item in items %}
        <div class="item" data-value="{{ item[data_field] }}">  
            {{ item.title }}
        </div>   
        {% endfor %}          
    </div>
</div>