{% if extension_name is not empty %}
    {% set actions = service('packages').create('extension').createPackage(extension_name).getPackageActions() %}
{% endif %}
{% if module_name is not empty %}
    {% set actions = service('packages').create('module').createPackage(module_name).getPackageActions() %}
{% endif %}
<div class="mt-4">
    <div class="ui horizontal mini divider header">
        {{ labels.actions }}
    </div>
    <div class="ui list">
        {% if actions|length == 0 %}
            <div class="item">
                {{ message }}
            </div>
        {% endif %}        
        {% for item in actions %}
        <div class="item">
            <div class="content">                            
                <i class="icon code blue"></i>          
                {{ item }}                 
            </div>                   
        </div>
        {% endfor %}
    </div>
    <div class="p-2" id="import_details">
    </div>
    {% if actions|length > 0 %}
        <div class="mt-4">
            {% if extension_name is not empty %}
            <button 
                class="ui icon labeled green button mini import-actions" 
                package-type="extension"
                package-name="{{ extension_name }}">
                <i class="icon plus"></i>
                {{ labels.import }}
            </button>
            {% else %}
            <button 
                class="ui icon labeled green button mini import-actions" 
                package-type="module"
                package-name="{{ module_name }}">
                <i class="icon plus"></i>
                {{ labels.import }}
            </button>
            {% endif %}
        </div>
    {% endif %}
</div>