
{% if event is not empty %}
    {% set properties = service('event').getEventProperties(event) %}
{% endif %}
<div class="ui dropdown relation-dropdown {{ class }}" 
    {{ title|attr('title') }} 
    id="{{ id|default('relation_dropdown') }}">    
    <input {{ rule|attr('rule') }} name="{{ name|default(id) }}" type="hidden" value="{{ item_selected[data_field] }}">  
    <div class="text">
        {{ selected|default(labels.select) }}
    </div>  
    <i class="icon dropdown"></i> 
    <div class="menu">        
        <div class="header">
            {{ title }}
        </div> 
        {% for key, item in properties %}
        <div 
            class="item" 
            data-value="{{ item.name }}">  
            {{ item.title }}
        </div>   
        {% endfor %}          
    </div>
</div>